.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 3px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.navbar-inverse {
  background-color: #fffe5e;
  border-color: #ffffff;
}
.navbar {
overflow: hidden;
position: fixed;
top: 0;
width: 100%;
}
.navbar-brand {
float: left;
height: 50px;
padding: 15px 15px;
font-size: 30px;
line-height: 20px;
margin-top: 17px;
color: #000000;
}
.navbar-inverse .navbar-brand {
color: #000000;
}
body{
background-color: #fdffd1;
}
.container {
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}
.padding{
    /* border: 1px solid black; */
    padding: 10px;
    /* background-color: white; */
    /* background: rgba(250, 213, 50, 0.514); */
    background: rgba(255, 244, 92, 0.68);
    border-radius: 13px;
}
p {
  margin-top: 20px;
}

  

@media screen and (max-width: 537px) {
  body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 6px;
    line-height: 1.42857143;
    color: #5a0202;
  
  }
  .month ul li {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  .navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 20px;
    margin-top: 2px;
    color: #000000;
  }
  .navbar-inverse .navbar-brand {
    color: #000000;
}
  
}

