.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 3px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.navbar-inverse {
  background-color: #fffe5e;
  border-color: #ffffff;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 30px;
  line-height: 20px;
  margin-top: 17px;
}

.navbar {
  min-height: 79px;
}
.navbar-inverse .navbar-brand {
  color: #000000;
}
body{
  background-color: #fdffd1;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #5a0202;

}
.container {
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}
p {
  margin-top: 20px;
}
.paddingtable {
  /* background: rgba(255, 255, 255, 0.68); */
  background: #fffdfd;
  border: 3px solid #fbf12f;
  padding: 10px 10px 10px 10px;
  /* background-color: lightblue; */
  margin-top: 10px;
  margin-right: auto;
  /* width: 50%; */
}
element.style {
  border-radius: 5px;
}


@media screen and (max-width: 537px) {
  body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 9px;
    line-height: 1.42857143;
    color: #5a0202;
  
  }
  .selectsearch{
    font-size: 12px;
  }
  .paddingtable {
    /* background: rgba(255, 255, 255, 0.68); */
    background: #fffdfd;
    border: 3px solid #fbf12f;
    padding: 10px 10px 10px 10px;
    /* background-color: lightblue; */
    margin-top: 10px;
    margin-right: auto;
    /* width: 50%; */
  }
  .navbar {
    min-height: 53px;
  }
  .navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 20px;
    margin-top: 2px;
  }
  .h4, .h5, .h6, h4, h5, h6 {
    margin-top: -9px;
    margin-bottom: 10px;
  }
  td, th {
    padding: 4px;
  }
}