<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/styleCalen.css') }}" >
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/stylecalendar.css') }}" >
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link href='fullcalendar-scheduler/main.css' rel='stylesheet' />
    <script src='fullcalendar-scheduler/main.js'></script>
    <title>ปฎิทินการศึกษา</title>
</head>
<style>

</style>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <a href=" " class="navbar-brand">LALIN</a>
        </div>
    </div>

    
    <div class="container" style="margin-top: 72px;">
        <div align="center" class="padding">
            
            <div class="calendar">
                <div class="month">
                  <i class="fas fa-angle-left prev"></i>
                  <div class="date">
                    <h1></h1>
                    <p></p>
                  </div>
                  <i class="fas fa-angle-right next"></i>
                </div>
                <div class="weekdays">
                  <div>Sun</div>
                  <div>Mon</div>
                  <div>Tue</div>
                  <div>Wed</div>
                  <div>Thu</div>
                  <div>Fri</div>
                  <div>Sat</div>
                </div>
                <div class="days"></div>
              </div>

            <p>ปฎิทินการศึกษาปีการศึกษา</p>
                <table class="table table-dark">
                    <tr>
                        <th>กิจกรรม</th>
                        <th>ภาคเรียน</th>
                        <th>วันเริ่ม</th>
                        <th>วันสิ้นสุด</th>
                        <th>ปีการศึกษา</th>
                    </tr>
                    {% for row in data %}
                    <tr>        
                        <td>{{row.topic_name}}</td>
                        <td>{{row.term}}</td>
                        <td>{{row.date_start}}</td>
                        {% if row.data_stop == None or row.data_stop == '' %}
                            <td> </td>
                        {% else %}
                            <td>{{row.date_stop}}</td>
                        {% endif %}
                        <td>{{row.year}}</td>
                    </tr>
                    {% endfor%}
                </table>
        



        </div>
    </div>
</body>
<script>
    $(document).ready(function(){
        liff.init(function (data) {
            $("#token_1").val(data.context.userId);
        });
    });
</script>
</html>
<script src="static/js/script.js"></script>