<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/styleCalen.css') }}" >
    <title>ปฎิทินการศึกษา</title>
</head>
<style>

</style>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <a href="/" class="navbar-brand">LALIN</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeader">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse navHeader">
                <ul class="nav navbar-nav navbar-center">
                    <li><a href="/calendar">ปฎิทินการศึกษา</a></li>
                    <li><a href="/showstudyplan">แผนการเรียน</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">เกรด</a>
                        <ul class="dropdown-menu">
                            <li><a href="/gradeall">ผลการเรียน</a></li>
                            <li><a href="/selectcal">คำนวณเกรด</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    
    <div class="container" >
        <div align="center" class="padding">

        
            <div class="month">      
            <ul>
                <li class="prev">&#10094;</li>
                <li class="next">&#10095;</li>
                <li>
                กันยายน/Septem<br>
                <span style="font-size:15px">2563/2020</span>
                </li>
            </ul>
            </div>

            <ul class="weekdays">
                <li>Mo</li>
                <li>Tu</li>
                <li>We</li>
                <li>Th</li>
                <li>Fr</li>
                <li>Sa</li>
                <li>Su</li>
            </ul>

            <ul class="days">  
                <li> </li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li><span class="active">14</span></li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li>24</li>
                <li>25</li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                <li>30</li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>

            <p>ปฎิทินการศึกษาปีการศึกษา</p>
                <table class="table table-dark">
                    <tr>
                        <th>กิจกรรม</th>
                        <th>ภาคเรียน</th>
                        <th>วันเริ่ม</th>
                        <th>วันสิ้นสุด</th>
                        <th>ปีการศึกษา</th>
                    </tr>
                    {% for row in data %}
                    <tr>        
                        <td>{{row.topic_name}}</td>
                        <td>{{row.term}}</td>
                        <td>{{row.date_start}}</td>
                        <td>{{row.date_stop}}</td>
                        <td>{{row.year}}</td>
                    </tr>
                    {% endfor%}
                </table>
        



        </div>
    </div>
</body>
<script>
    $(document).ready(function(){
        liff.init(function (data) {
            $("#token_1").val(data.context.userId);
        });
    });
</script>
</html>