<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/styleGrade.css') }}" >
    <title>คำนวณเกรด</title>
</head>
<style>
    /* body{
    background-color: white;
    } */

    input{
        background-color: transparent;
        border: 0em;
    }
    .tdInput{
        width: 100%;
    } 
</style>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <a href="/" class="navbar-brand">LALIN</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeader">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse navHeader">
                <ul class="nav navbar-nav navbar-center">
                    <li><a href="/calendar">ปฎิทินการศึกษา</a></li>
                    <li><a href="/showstudyplan">แผนการเรียน</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">เกรด</a>
                        <ul class="dropdown-menu">
                            <li><a href="/gradeall">ผลการเรียน</a></li>
                            <li><a href="/gradecal">คำนวณเกรด</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div align="center">
                <div style="background-color: antiquewhite;">
                <form action="/calculategrade" method="POST">
                    <h3>คำนวณเกรด</h3>
                <div style="background-color: antiquewhite;">
                <table class="table table-bordered">
                    <tr>
                        <th style="width: 10em; text-align: center;">รหัสนิสิต</th>
                        <th style="width: 10em; text-align: center;">รหัสวิชา</th>
                        <th style="width: 40em; text-align: center;">ชื่อวิชา</th>
                        <th style="width: 40em; text-align: center;">name subject</th>
                        <th style="width: 3em; text-align: center;">เกรด</th>
                        <th style="width: 7em; text-align: center;">หน่วยกิต</th>
                        <th style="width: 3em; text-align: center;">ปี</th>
                        <th style="width: 3em; text-align: center;">เทอม</th>
                    </tr>
                    <tr>
                        {% for row in subjectCal  %}
                    <tr>        
                        <td><input name="student_id[]" type="text" class="tdInput" value="{{row.student_id}}"size="6" ></td>
                        <td><input name="subject_id[]" type="text" class="tdInput" value="{{row.subject_id}}" size="6"></td>
                        <td><input name="subject_nameTh[]" type="text" class="tdInput" value="{{row.subject_nameTh}}" size="6"></td>
                        <td><input name="subject_nameEng[]" type="text" class="tdInput" value="{{row.subject_nameEng}}"size="6" ></td>
                        <td><select name="grade[]" style="width: 3em;">
                            <option value="A">A</option>
                            <option value="B+">B+</option>
                            <option value="B">B</option>
                            <option value="C+">C+</option>
                            <option value="C">C</option>
                            <option value="D+">D+</option>
                            <option value="D">D</option>
                            <option value="F">F</option>
                            <option value="W">W(ไม่คำนวณเกรด)</option>
                            </select></td>
                        <td><input name="unit[]" type="text" class="tdInput"  value="{{row.unit}}" size="3" style="text-align: center;"></td>
                        <td><input name="year[]" type="text" class="tdInput" value="{{row.year}}" size="6" style="text-align: center;"></td>
                        <td><input name="term[]" type="text" class="tdInput" value="{{row.term}}" size="6" style="text-align: center;"></td>
                    </tr>
                    {% endfor%}
                    </tr>
                </table>
                </div>
                <input type="submit" value="คำนวณ" style="background-color: whitesmoke;">
                <input type="text" value="{{itemGPAX}}" style="background-color: white; width: 4em; text-align: center;" readonly>
               
                <table class="table table-bordered" style="margin-top: 2em;">
                    <tr>
                        <th style="width: 10em; text-align: center;">รหัสนิสิต</th>
                        <th style="width: 10em; text-align: center;">รหัสวิชา</th>
                        <th style="width: 40em; text-align: center;">ชื่อวิชา</th>
                        <th style ="width: 40em; text-align: center;">name subject</th>
                        <th style ="width: 3em; text-align: center;">เกรด</th>
                        <th style ="width: 7em; text-align: center;">หน่วยกิต</th>
                        <th style ="width: 3em; text-align: center;">ปี</th>
                        <th style ="width: 3em; text-align: center;">เทอม</th>
                    </tr>
                    {% for row in subject %}
                    <tr>        
                        <td><input   type="text" class="tdInput"   value="{{row.student_id}}" readonly></td>
                        <td><input   type="text" class="tdInput"  value="{{row.subject_id}}" size="6"></td>
                        <td><input   type="text"  class="tdInput" value="{{row.subject_nameTh}}" size="6"></td>
                        <td><input   type="text"  class="tdInput" value="{{row.subject_nameEng}}" size="6"></td>
                        <td><input  type="text" class="tdInput"  value="{{row.grade}}" size="3"></td>
                        <td><input  type="text" class="tdInput"  value="{{row.unit}}" size="3" style="text-align: center;"></td>
                        <td><input   type="text" class="tdInput"  value="{{row.year}}" size="6" style="text-align: center;"></td>
                        <td><input   type="text" class="tdInput"  value="{{row.term}}" size="6" style="text-align: center;"></td>
                    </tr>
                    {% endfor%}
                </table>
                <p><input type="text" value="{{GPAX}}"  style="background-color: white; width: 4em; text-align: center;"  readonly></p>
                </div>
                 </form>
            </div>
        </div>
    </div>
    
</body>
</html>