<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/styleGrade.css') }}" >
    <title>grade</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <a href="/" class="navbar-brand">LALIN</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeader">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse navHeader">
                <ul class="nav navbar-nav navbar-center">
                    <li><a href="/calendar">ปฎิทินการศึกษา</a></li>
                    <li><a href="/showstudyplan">แผนการเรียน</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">เกรด</a>
                        <ul class="dropdown-menu">
                            <li><a href="/gradeall">ผลการเรียน</a></li>
                            <li><a href="/selectcal">คำนวณเกรด</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div align="center">
                <p>เกรดเฉลี่ยทั้งหมด</p>
                <p><input type="text" value="{{GPAX}}" size="5" readonly></p>
                <table class="table table-bordered">
                    <tr>
                        <th>รหัสนิสิต</th>
                        <th>รหัสวิชา</th>
                        <th>ชื่อวิชา</th>
                        <th>name subject</th>
                        <th>เกรด</th>
                        <th>หน่วยกิต</th>
                        <th>ปี</th>
                        <th>เทอม</th>
                    </tr>
                    {% for row in data1 %}
                    <tr>        
                        <td>{{row.student_id}}</td>
                        <td>{{row.subject_id}}</td>
                        <td>{{row.subject_nameTh}}</td>
                        <td>{{row.subject_nameEng}}</td>
                        <td>{{row.grade}}</td>
                        <td>{{row.unit}}</td>
                        <td>{{row.year}}</td>
                        <td>{{row.term}}</td>
                    </tr>
                    {% endfor%}
                </table>
            </div>
        </div>
    </div>
</body>
</html>