<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/styleCalGrade.css') }}" >
    <title>คำนวณเกรด</title>
</head>
<style>
    /* body{
    background-color: white;
    } */

    input{
        background-color: transparent;
        border: 0em;
    }
    .tdInput{
        width: 100%;
    } 
</style>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <a href="/" class="navbar-brand">LALIN</a>
            <!-- <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeader">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse navHeader">
                <ul class="nav navbar-nav navbar-center">
                    <li><a href="/calendar">ปฎิทินการศึกษา</a></li>
                    <li><a href="/showstudyplan">แผนการเรียน</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">เกรด</a>
                        <ul class="dropdown-menu">
                            <li><a href="/gradeall">ผลการเรียน</a></li>
                            <li><a href="/gradecal">คำนวณเกรด</a></li>
                        </ul>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
    <div>
        <div class="container">
            <div align="center">
                <div class="gpa"style=" margin-top: 12em;">
                <form action="/gradecal" method="POST">
                    <label class="gradecalculate">คำนวณเกรด</label>
                <div  id="commit">

                 <!-- ---------------- ------  วิชา เกรด เทอมถัดไปที่จะเอามาคำนวณ  ----------  ------------------------->
                        <table class="table table-bordered">
                            <tr>
                                <th style="width: 10em; text-align: center;">รหัสนิสิต</th>
                                <th style="width: 10em; text-align: center;">รหัสวิชา</th>
                                <th style="width: 40em; text-align: center;">ชื่อวิชา</th>
                                <th style="width: 40em; text-align: center;">name subject</th>
                                <th style="width: 3em; text-align: center;">เกรด</th>
                                <th style="width: 7em; text-align: center;">หน่วยกิต</th>
                                <th style="width: 3em; text-align: center;">ปี</th>
                                <th style="width: 3em; text-align: center;">เทอม</th>
                            </tr>
                            <tr>
                                {% for row in rows %}
                                <tr>        
                                <td><input name="student_id[]" type="text" class="tdInput" value="{{stu_id}}"size="6" readonly></td>
                                <td><input name="subject_id[]" type="text" class="tdInput" value="{{row.subject_id}}" size="6"  readonly></td>
                                <td><input name="subject_nameTh[]" type="text" class="tdInput" value="{{row.subject_nameTh}}" size="6"readonly></td>
                                <td><input name="subject_nameEng[]" type="text" class="tdInput" value="{{row.subject_nameEng}}"size="6"readonly ></td>

                                    {% if row.subject_id == '225491' or row.subject_id =='225492' or row.subject_id =='225493' or row.subject_id =='225494' or row.subject_id =='225495' %}
                                        <td><select name="grade[]" style="width: 4rem;">
                                            <option value="S"{%if row.grade == 'S' %} selected {% endif %}>S</option>
                                            <option value="I"{%if row.grade == 'I' %} selected {% endif %}>I</optio>
                                            <option value="P"{%if row.grade == 'P' %} selected {% endif %}>P</option>
                                            <option value="U"{%if row.grade == 'u' %} selected {% endif %}>U</option>
                                            <option value="W"{%if row.grade == 'W' %} selected {% endif %}>W(ไม่คำนวณเกรด)</option>
                                            </select></td>
                                        
                                    {% else  %}   
                                        <td><select name="grade[]" style="width: 4rem;">
                                            <option value="A" {%if row.grade == 'A' %} selected {% endif %} >A</option>
                                            <option value="B+" {%if row.grade == 'B+' %} selected {% endif %} >B+</option>
                                            <option value="B" {%if row.grade == 'B' %} selected {% endif %} >B</option>
                                            <option value="C+" {%if row.grade == 'C+' %} selected {% endif %} >C+</option>
                                            <option value="C" {%if row.grade == 'C' %} selected {% endif %} >C</option>
                                            <option value="D+" {%if row.grade == 'D+' %} selected {% endif %} >D+</option>
                                            <option value="D" {%if row.grade == 'D' %} selected {% endif %} >D</option>
                                            <option value="F" {%if row.grade == 'F' %} selected {% endif %} >F</option>
                                            <option value="W" {%if row.grade == 'W' %} selected {% endif %} >W(ไม่คำนวณเกรด)</option>
                                            </select></td>
                                    {% endif %}
                                        
                                <td><input name="unit[]" type="text" class="tdInput" name="unit[]" value="{{row.unit}}" size="3" style="text-align: center;" readonly></td>
                                <td><input name="year[]" type="text" class="tdInput" value="{{row.year}}" size="6" style="text-align: center;" readonly></td>
                                <td><input name="term[]" type="text" class="tdInput" value="{{row.term}}" size="6" style="text-align: center;" readonly></td>
                            </tr>
                            {% endfor%}
                            </tr>
                        </table>
                        </div>                   
                        เกรดเฉลี่ยต่อเทอม(GPA)<input type="text" value="{{itemGPA}}" style="background-color: white; width: 4em; text-align: center;" readonly>
                        เกรดเฉลี่ยรวม(GPAX)<input type="text" value="{{itemGPAXAll}}" style="background-color: white; width: 4em; text-align: center;" readonly>
                        <input type="submit" class="btn btn-primary" value="คำนวณ" >
                        <a href="" class="btn btn-success" data-toggle="modal" data-target="#modaledit{{commit}}">บันทึก</a> 
            <!-- ---------------- ------  วิชา เกรดที่มีอยู่แล้วใน database   ----------  ------------------------->
                    <table class="table table-bordered" style="margin-top: 2em;">
                    <tr>
                        <th style="width: 10em; text-align: center;">รหัสนิสิต</th>
                        <th style="width: 10em; text-align: center;">รหัสวิชา</th>
                        <th style="width: 40em; text-align: center;">ชื่อวิชา</th>
                        <th style ="width: 40em; text-align: center;">name subject</th>
                        <th style ="width: 4rem; text-align: center; ">เกรด</th>
                        <th style ="width: 7em; text-align: center;">หน่วยกิต</th>
                        <th style ="width: 3em; text-align: center;">ปี</th>
                        <th style ="width: 3em; text-align: center;">เทอม</th>
                    </tr>
                    {% for row in subject %}
                    <tr>        
                        <td><input type="text" class="tdInput"   value="{{row.student_id}}" readonly></td>
                        <td><input type="text" class="tdInput"  value="{{row.subject_id}}" size="6"readonly></td>
                        <td><input type="text"  class="tdInput" value="{{row.subject_nameTh}}" size="6"readonly></td>
                        <td><input type="text"  class="tdInput" value="{{row.subject_nameEng}}" size="6"readonly></td>
                        <td><input type="text" class="tdInput"  value="{{row.grade}}" style="width: 4rem;" readonly></td>
                        <td><input type="text" class="tdInput"  value="{{row.unit}}" size="3" style="text-align: center;"readonly></td>
                        <td><input type="text" class="tdInput"  value="{{row.year}}" size="6" style="text-align: center;"readonly></td>
                        <td><input type="text" class="tdInput"  value="{{row.term}}" size="6" style="text-align: center;"readonly></td>
                    </tr>
                    {% endfor %}
                </table>
                <p><input type="text" value="{{GPAX}}"  style="background-color: white; width: 4em; text-align: center;" readonly></p>
                </div>
                </form>

                <!--------------------------start บันทึกเกรด-------------------------------- -->
                    <div id="modaledit{{commit}}" class="modal fade" role="dialog"> <!-- ดึงค่ามาจาก id commit -->
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">บันทึกเกรด</h4>
                                </div>
                            <div class="modal-body">
                            <form action="/submitgradecal" method="POST"> <!--  ส่งค่าไปยังdatabase -->
                            <!-- ---------------- ------  วิชา เกรด เทอมถัดไปที่จะเอามาคำนวณ  ----------  ------------------------->
                                <table class="table table-bordered">
                                    <tr>
                                        <th style="width: 10em; text-align: center;">รหัสนิสิต</th>
                                        <th style="width: 10em; text-align: center;">รหัสวิชา</th>
                                        <th style="width: 40em; text-align: center;">ชื่อวิชา</th>
                                        <th style="width: 40em; text-align: center;">name subject</th>
                                        <th style="width: 3em; text-align: center;">เกรด</th>
                                        <th style="width: 7em; text-align: center;">หน่วยกิต</th>
                                        <th style="width: 3em; text-align: center;">ปี</th>
                                        <th style="width: 3em; text-align: center;">เทอม</th>
                                    </tr>
                                    <tr>
                                    {% for row in rows %}
                                    <tr>        
                                        <td><input name="student_id[]" type="text" class="tdInput" value="{{stu_id}}"size="6" readonly></td>
                                        <td><input name="subject_id[]" type="text" class="tdInput" value="{{row.subject_id}}" size="6"  readonly></td>
                                        <td><input name="subject_nameTh[]" type="text" class="tdInput" value="{{row.subject_nameTh}}" size="6"readonly></td>
                                        <td><input name="subject_nameEng[]" type="text" class="tdInput" value="{{row.subject_nameEng}}"size="6"readonly ></td>
                                        <td><input name="grade_cal[]" type="text" class="tdInput" value="{{row.grade}}"size="6"readonly ></td>
                                        <td><input name="unit[]" type="text" class="tdInput" name="unit[]" value="{{row.unit}}" size="3" style="text-align: center;" readonly></td>
                                        <td><input name="year[]" type="text" class="tdInput" value="{{row.year}}" size="6" style="text-align: center;" readonly></td>
                                        <td><input name="term[]" type="text" class="tdInput" value="{{row.term}}" size="6" style="text-align: center;" readonly></td>
                                    </tr>
                                    {% endfor%}
                                </table>                  
                                เกรดเฉี่ลยต่อเทอม<input type="text" name="gpa" value="{{itemGPA}}" style="background-color: white; width: 4em; text-align: center;" readonly>
                                เกรดเฉลี่ยรวม<input type="text" name="gpax" value="{{itemGPAXAll}}" style="background-color: white; width: 4em; text-align: center;" readonly>
                                <!-- <a href="" class="btn btn-warning " data-toggle="modal" data-target="#modaledit{{commit}}">บันทึก</a> -->
                                <label style="font-size: 10px; color: crimson;">ทุกครั้งที่กดบันทึกข้อมูลจะถูกอัปเดตเป็นช้อมูลล่าสุด</label><input type="submit" value="บันทึก" class="btn btn-warning">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                <!--------------------------stop บันทึกเกรด-------------------------------- -->
            </div>
        </div>
    </div>
    
</body>
</html>
