<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css') }}" >
    <title>LALIN</title>
</head>
<body>
    <header>
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <a href="/" class="navbar-brand">LALIN</a>
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeader">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse navHeader">
                    <ul class="nav navbar-nav navbar-center">
                        <li><a href="/calendar">ปฎิทินการศึกษา</a></li>
                        <li><a href="/showstudyplan">แผนการเรียน</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">เกรด</a>
                            <ul class="dropdown-menu">
                                <li><a href="/gradeall">ผลการเรียน</a></li>
                                <li><a href="/gradecal">คำนวณเกรด</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div align="center" >
            <div id="home">
                <img src="{{url_for('static', filename='images/moon-01.png')}}" class="responsive" width="60" height="40"><br>
                <!-- <input type="text" placeholder="รหัสนิสิต"><br>
                <input type="text" placeholder="E-mail"><br>
                <input class="btn btn-primary" type="submit" value="ยืนยัน" > -->
            </div>
        </div>
    </div>
</body>
</html>