<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/styleGrade.css') }}" >
    <title>calculate</title>
</head>
<body>
    <div class="container">
    <div align="center">
    <form action="/calculatetest" method="POST" >
        ปีการศึกษาที่ต้องการคำนวณเกรด
        <select name="year">
            <option value="1"  >1</option>
            <option value="2"  >2</option>
            <option value="3"  >3</option>
            <option value="4"  >4</option>
        </select>
        เทอม
        <select name="term">
            <option value="1" >1</option>
            <option value="2" >2</option>
        </select>
        <button id="addRow" onclick="addRow()">เลือก</button>
    </form>

    <div id="cont">
    <form action="/calgrade" method="POST">
    <table class="table table-bordered" >
        <tr>
            <th>รหัสวิชา</th>
            <th>ชื่อวิชา</th>
            <th>name subject</th>
            <th>หน่วยกิต</th>
            <th>เกรด</th>
            <th>action</th>
        </tr>
        {% for row in subject %}
        <tr id="">
            <td size="8px "><input type="text" name="subject_id[]" value="{{row.subject_id}}" id="subject_id"  readonly></td>
            <td><input type="text" name="subject_nameTh[]"  value="{{row.subject_nameTh}}" readonly ></td>
            <td><input type="text" name="subject_nameEng[]"  value="{{row.subject_nameEng}}" readonly></td>
            <td><input type="text" name="unit[]"  value="{{row.unit}}" size="5px " readonly></td>
            <td><select name="grade[]">
                <option value="A"  >A</option>
                <option value="B+" >B+</option>
                <option value="B" >B</option>
                <option value="C+" >C+</option>
                <option value="C" >C</option>
                <option value="D+" >D+</option>
                <option value="D" >D</option>
                <option value="F" >F</option>
                <option value="W" >W</option>
                </select></td>
            <td><div class="col"><button class="btn btn-danger" type="button" data-toggle="fieldset-remove-row" id=" ">-</button></div></td>
        </tr>
        {% endfor %}
    </table>
    <input  type="submit">
    <input type="text">
    </form>
    </div>
</div>
</div>
</body>

</html>