<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/styleGrade.css') }}" >
    <title>แผนการเรียน</title>
</head>
<body>
    <header>
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <a href="/" class="navbar-brand">LALIN</a>
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeader">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse navHeader">
                    <ul class="nav navbar-nav navbar-center">
                        <li><a href="/calendar">ปฎิทินการศึกษา</a></li>
                        <li><a href="/showstudyplan">แผนการเรียน</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">เกรด</a>
                            <ul class="dropdown-menu">
                                <li><a href="/gradeall">ผลการเรียน</a></li>
                                <li><a href="/selectcal">คำนวณเกรด</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
     
    <div class="container">
        <form action="/searchplan" method="POST">
        <div align="center">
            <h4>แผนการเรียน</h4>
            <div>
                ค้นหาแผนการเรียน            
                ปี:<select  name="year">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                เทอม: <select name="term">
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
                <input type="submit">
            </div>
            
            <hr>
            ปี  1 เทอม 1
            <table class="table table-bordered" >
            <thead>
                <tr>
                    <th style="width:100px">รหัสวิชา</th>
                    <th style="width:500px">ชื่อวิชา</th>
                    <th style="width:500px">name subject</th>
                    <!-- <th>ปี</th>
                    <th>เทอม</th> -->
                </tr>
            </thead>
            <tbody>
                {% for row in data1 %}
                <tr>
                    <td>{{row.subject_id}}</td>
                    <td>{{row.subject_nameTh}}</td>
                    <td>{{row.subject_nameEng}}</td>
                    <!-- <td>{{row.year}}</td>
                    <td>{{row.term}}</td> -->
                </tr>
                {% endfor %}
            </tbody>
            </table>

            ปี  1 เทอม 2
            <table class="table table-bordered" >
            <thead>
                <tr>
                    <th style="width:100px">รหัสวิชา</th>
                    <th style="width:500px">ชื่อวิชา</th>
                    <th style="width:500px">name subject</th>
                    <!-- <th>ปี</th>
                    <th>เทอม</th> -->
                </tr>
            </thead>
            <tbody>
                {% for row in data2 %}
                <tr>
                    <td>{{row.subject_id}}</td>
                    <td>{{row.subject_nameTh}}</td>
                    <td>{{row.subject_nameEng}}</td>
                    <!-- <td>{{row.year}}</td>
                    <td>{{row.term}}</td> -->
                </tr>
                {% endfor %}
            </tbody>
            </table>
    
            ปี  2 เทอม 1
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width:100px">รหัสวิชา</th>
                    <th style="width:500px">ชื่อวิชา</th>
                    <th style="width:500px">name subject</th>
                    <!-- <th>ปี</th>
                    <th>เทอม</th> -->
                </tr>
            </thead>
            <tbody>
                {% for row in data3 %}
                <tr>
                    <td>{{row.subject_id}}</td>
                    <td>{{row.subject_nameTh}}</td>
                    <td>{{row.subject_nameEng}}</td>
                    <!-- <td>{{row.year}}</td>
                    <td>{{row.term}}</td> -->
                </tr>
                {% endfor %}
            </tbody>
            </table>

            ปี  2 เทอม 2
            <table class="table table-bordered">
            <thead >
                <tr>
                    <th style="width:100px">รหัสวิชา</th>
                    <th style="width:500px">ชื่อวิชา</th>
                    <th style="width:500px">name subject</th>
                    <!-- <th>ปี</th>
                    <th>เทอม</th> -->
                </tr>
            </thead>
            <tbody>
                {% for row in data4 %}
                <tr>
                    <td>{{row.subject_id}}</td>
                    <td>{{row.subject_nameTh}}</td>
                    <td>{{row.subject_nameEng}}</td>
                    <!-- <td>{{row.year}}</td>
                    <td>{{row.term}}</td> -->
                </tr>
                {% endfor %}
            </tbody>
            </table>

            ปี  3 เทอม 1
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width:100px">รหัสวิชา</th>
                    <th style="width:500px">ชื่อวิชา</th>
                    <th style="width:500px">name subject</th>
                    <!-- <th>ปี</th>
                    <th>เทอม</th> -->
                </tr>
            </thead>
            <tbody>
                {% for row in data5 %}
                <tr>
                    <td>{{row.subject_id}}</td>
                    <td>{{row.subject_nameTh}}</td>
                    <td>{{row.subject_nameEng}}</td>
                    <!-- <td>{{row.year}}</td>
                    <td>{{row.term}}</td> -->
                </tr>
                {% endfor %}
            </tbody>
            </table>

            ปี  3 เทอม 2
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width:100px">รหัสวิชา</th>
                    <th style="width:500px">ชื่อวิชา</th>
                    <th style="width:500px">name subject</th>
                    <!-- <th>ปี</th>
                    <th>เทอม</th> -->
                </tr>
            </thead>
            <tbody>
                {% for row in data6 %}
                <tr>
                    <td>{{row.subject_id}}</td>
                    <td>{{row.subject_nameTh}}</td>
                    <td>{{row.subject_nameEng}}</td>
                    <!-- <td>{{row.year}}</td>
                    <td>{{row.term}}</td> -->
                </tr>
                {% endfor %}
            </tbody>
            </table>

            ปี  4 เทอม 1
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width:100px">รหัสวิชา</th>
                    <th style="width:500px">ชื่อวิชา</th>
                    <th style="width:500px">name subject</th>
                    <!-- <th>ปี</th>
                    <th>เทอม</th> -->
                </tr>
            </thead>
            <tbody>
                {% for row in data7 %}
                <tr>
                    <td>{{row.subject_id}}</td>
                    <td>{{row.subject_nameTh}}</td>
                    <td>{{row.subject_nameEng}}</td>
                    <!-- <td>{{row.year}}</td>
                    <td>{{row.term}}</td> -->
                </tr>
                {% endfor %}
            </tbody>
            </table>

            ปี  4 เทอม 2
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width:100px">รหัสวิชา</th>
                    <th style="width:500px">ชื่อวิชา</th>
                    <th style="width:500px">name subject</th>
                    <!-- <th>ปี</th>
                    <th>เทอม</th> -->
                </tr>
            </thead>
            <tbody>
                {% for row in data8 %}
                <tr>
                    <td>{{row.subject_id}}</td>
                    <td>{{row.subject_nameTh}}</td>
                    <td>{{row.subject_nameEng}}</td>
                    <!-- <td>{{row.year}}</td>
                    <td>{{row.term}}</td> -->
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        </form>
    </div>
</body>
</html>