<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>grade</title>
</head>
<body>
    <body>
        <label>เกรดเทอม1 ปี1</label>
        <div align="center">
        <table class="table table-bordered">
            <tr>
                <th>รหัสนิสิต</th>
                <th>รหัสวิชา</th>
                <th>ชื่อวิชา</th>
                <th>name subject</th>
                <th>เกรด</th>
                <th>หน่วยกิต</th>
                <th>เทอม</th>
                <th>ปี</th>
            </tr>
            {% for row in data %}
            <tr>
                <td>{{row.student_id}}</td>
                <td>{{row.subject_id}}</td>
                <td>{{row.subject_nameTh}}</td>
                <td>{{row.subject_nameEng}}</td>
                <td>{{row.grade}}</td>
                <td>{{row.unit}}</td>
                <td>{{row.term}}</td>
                <td>{{row.year}}</td>
            </tr>
            {% endfor %}
        </table>
        <input type="text" value="{{GPA}}" size="5">
        </div>
</body>
</html>