<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>subject</title>
</head>
<body>
    <div align="center">
    <form>
    <table class="table table-bordered">
        <tr>
            <th>รหัสวิชา</th>
            <th>ชื่อวิชา</th>
            <th>name subject</th>
            <th>หน่วยกิต</th>
        </tr>
        {% for row in data %}
        <tr>
        
            <td>{{row.subject_id}}</td>
            <td>{{row.subject_nameTh}}</td>
            <td>{{row.subject_nameEng}}</td>
            <td>{{row.unit}}</td>
        </tr>
        {% endfor%}
    </table>
        <input type="text">
    </form>
    </div>
</body>
</html>